<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MainFile</key>
	<string>app.json</string>
	<key>Component</key>
	<array>
		<string>QuickComponentUINavigationBar</string>
		<string>QuickComponentUIViewController</string>
		<string>QuickComponentUILabel</string>
		<string>QuickComponentUIView</string>
		<string>QuickComponentUIButton</string>
	</array>
</dict>
</plist>
